.App {
  text-align: center;
  background: yellow;
  height: 100%;
}

img {
  width: 200px;
  height: 200px;  
}

.modal-container {
  background: greenyellow;
  height: 500px;
  width: 500px;
  margin: 30px auto;
  
}

.progressWrapper div {
  background: lightgrey;
  height: 100%;
}

.card {
  background: rgb(141, 242, 146);
  width: 300px;
  margin: 0 auto;
}

.genre {
  background: lightblue;
  padding: 20px;
}
